.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: orange;
  }
  
  .logo {
    height: 40px;
  }
  
  input {
    padding: 5px;
    border: 1px solid lightteal;
    border-radius: 4px;
  }